* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
img{
  display: block;
  width: 100%;
}

.section {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  display: block;
  width: 100%;
  max-width: 1180px;
  height: auto;
  margin: 0 auto;
}
.container-full {
  display: block;
  width: 100%;
  height: auto;
}
.row {
  display: block;
  width: 100%;
  height: auto;
}
.row::after {
  content: '';
  display: block;
  clear: both;
}
.div-col {
  display: block;
  width: auto;
  height: auto;
  padding: 0 15px;
  min-height: 30px;
  float: left;
}
.div-col-1 {
  display: block;
  width: 100%;
  height: auto;
  padding: 0 15px;
  min-height: 30px;
}
.div-col-2 {
  display: block;
  width: 50%;
  height: auto;
  float: left;
  padding: 0 15px;
  min-height: 30px;
}
.div-col-3 { 
  display: block;
  width: 33.3333%;
  height: auto;
  float: left;
  padding: 0 15px;
  min-height: 30px;
}
.div-col-4 { 
  display: block;
  width: 25%;
  height: auto;
  float: left;
   padding: 0 15px;
  min-height: 30px;
}
.div-col-5 { 
  display: block;
  width: 20%;
  height: auto;
  float: left;
   padding: 0 15px;
  min-height: 30px;
}
.div-col-6 { 
  display: block;
  width: 16.6666666667%;
  height: auto;
  float: left;
   padding: 0 15px;
  min-height: 30px;
}
.div-col-7 { 
  display: block;
  width: 14.2857142857%;
  height: auto;
  float: left;
   padding: 0 15px;
  min-height: 30px;
}
.div-col-8 { 
  display: block;
  width: 12.5%;
  height: auto;
  float: left;
   padding: 0 15px;
  min-height: 30px;
}
.div-col-9 { 
  display: block;
  width: 11.1111111111%;
  height: auto;
  float: left;
   padding: 0 15px;
  min-height: 30px;
}
.div-col-10 {
  display: block;
  width: 10%;
  height: auto;
  float: left;
   padding: 0 15px;
  min-height: 30px;
}
/* elements */
ul{
  padding:0 0 0 15px;
}

.col-1 {
  display: block;
  width: 10%;
  height: auto;
  float: left;
  padding: 0 15px;
  min-height: 30px;
}
.col-2 {
  display: block;
  width: 20%;
  height: auto;
  float: left;
  padding: 0 15px;
  min-height: 30px;
}
.col-3 {
  display: block;
  width: 30%;
  height: auto;
  float: left;
  padding: 0 15px;
  min-height: 30px;
}
.col-4 {
  display: block;
  width: 40%;
  height: auto;
  float: left;
  padding: 0 15px;
  min-height: 30px;
}
.col-5 {
  display: block;
  width: 50%;
  height: auto;
  float: left;
  padding: 0 15px;
  min-height: 30px;
}
.col-6 {
  display: block;
  width: 60%;
  height: auto;
  float: left;
  padding: 0 15px;
  min-height: 30px;
}
.col-7 {
  display: block;
  width: 70%;
  height: auto;
  float: left;
  padding: 0 15px;
  min-height: 30px;
}
.col-9 {
  display: block;
  width: 90%;
  height: auto;
  float: left;
  padding: 0 15px;
  min-height: 30px;
}
.col-10 {
  display: block;
  width: 100%;
  height: auto;
  float: left;
  padding: 0 15px;
  min-height: 30px;
}
.fleft{
  display: block;
  width: auto;
  float: left;
  margin-right: 10px;
}
.clear{
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  margin: 0 0 10px 0;
}
p{
  font-size: 15px;
}
